@import url('https://fonts.cdnfonts.com/css/dunggeunmo');

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-xs: 12px;
  --line-xs: 16px;

  --font-sm: 14px;
  --line-sm: 20px;

  --font-base: 16px;
  --line-base: 24px;

  --font-lg: 18px;
  --line-lg: 28px;

  --font-xl: 20px;
  --line-xl: 28px;

  --font-2xl: 24px;
  --line-2xl: 32px;

  --font-3xl: 30px;
  --line-3xl: 36px;

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --font-family-pretandard: 'Pretendard', sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.react-datepicker {
  @apply p-3 !important;
  font-family: 'Pretendard', serif !important;
}

.react-datepicker__month-container {
  @apply float-none !important;
}

.react-datepicker__header {
  @apply bg-white border-none !important;
}

.react-datepicker__current-month {
  @apply text-gray-800 text-sm font-medium !important;
}

.react-datepicker__day-names {
  @apply flex justify-between px-2.5 !important;
}

.react-datepicker__day-name {
  @apply text-gray-800 text-sm font-semibold w-8 !important;
}

.react-datepicker__month {
  @apply m-0 !important;
}

.react-datepicker__week {
  @apply flex justify-between !important;
}

.react-datepicker__day {
  @apply text-sm font-medium p-2.5 m-0 w-8 h-8 flex items-center justify-center !important;
}

.react-datepicker__day--selected {
  @apply bg-black rounded-lg text-white !important;
}

.react-datepicker__time-container {
  @apply border-l border-gray-200 !important;
  width: 100px !important;
}

.react-datepicker__time-box {
  width: 100% !important;
}

.react-datepicker__time-list-item {
  @apply text-sm font-medium text-gray-900 !important;
  height: 33px !important;
}

.react-datepicker__time-list-item--selected {
  @apply bg-black text-white !important;
}

.react-datepicker__navigation {
  @apply top-4 !important;
}
/* 기본 time picker UI를 숨기는 CSS */
.hide-time-select .react-datepicker__time-container {
  display: none;
}