:root {
  --font-xs: 12px;
  --line-xs: 16px;

  --font-sm: 14px;
  --line-sm: 20px;

  --font-base: 16px;
  --line-base: 24px;

  --font-lg: 18px;
  --line-lg: 28px;

  --font-xl: 20px;
  --line-xl: 28px;

  --font-2xl: 24px;
  --line-2xl: 32px;

  --font-3xl: 30px;
  --line-3xl: 36px;

  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --font-family-pretandard: "Pretendard", sans-serif;
}